.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 4px 4px 15px 7px rgba(0, 0, 0, 0.24),
    -4px -4px 15px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 30px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 30px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 4px 4px 15px 14px rgba(0, 0, 0, 0.24),
    -4px -4px 15px 14px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

.modalContainer h1 {
  font-family: American Typewriter, serif;
}

.modalContainer {
  margin-left: 25%;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  text-align: center;
}

.bodyModel p:nth-child(2) {
  font-family: Marker Felt, fantasy;
}

span {
  font-size: 18px;
  font-weight: bold;
}

.closeBtn {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.closeBtn:hover,
.closeBtn:focus {
  box-shadow: inset -3.5em 0 0 0 #ff7f82, inset 3.5em 0 0 0 #ff7f82;
}

.bodyModel img {
  width: 300px;
  height: 260px;
  border-radius: 10px;
}

@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
}
